body {
  background: #f1f7fc;
}
#imagen {
  width: 30px;
  height: 30px;
}
/*Login*/
.login-clean {
  /*background: #1e2833;*/
  padding: 80px 0;
}
.login-clean form {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.login-clean form h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}
.login-clean .illustration {
  text-align: center;
  padding: 0 0 20px;
  font-size: 100px;
  /*color: rgb(244, 71, 107);*/
  color: #1e2833;
}
.login-clean form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}
.login-clean form .btn-primary {
  background: #1e2833;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  width: 60%;
  /*margin-top: 26px;*/
  margin: 26px auto;
  text-shadow: none;
  outline: none !important;
}
.login-clean form .btn-primary a {
  text-decoration: none;
  color: #fff;
}

/*.header-dark {
  background: #444;
}*/
a {
  text-decoration: none;
}
.header-dark .navbar {
  /*background: transparent;*/
  background: #444;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.navbar .navbar-brand {
  color: #fff;
}
/*.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}*/
.navbar-text {
  padding: 0.5rem;
}
.navbar-text a {
  color: #fff;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 6px;
  height: 40px;
}
form {
  width: 80%;
  margin: 40px auto;
}
form .btn-primary {
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 35px;
  text-shadow: none;
  outline: none !important;
}
form .btn-primary:hover {
  background: #198754;
}
form .btn-secundary {
  background: #f4476b;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 35px;
  text-shadow: none;
  outline: none !important;
}
form .btn-secundary:hover {
  background: #d33b5a;
  color: #fff;
}

/*****************************
            FOOTER
******************************/
.footer-basic {
  padding: 20px 0;
  background-color: #444;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0px;
}
.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  margin-bottom: 0;
}
